body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444B8C;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 41.66666667%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 58.33333333%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.69);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#intro
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 200px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#intro > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#intro > .col-1
{
   flex: 0 0 auto;
}
#intro > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#intro > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_introLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444B8C;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#introLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#introLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#introLayoutGrid > .row > .col-1, #introLayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#introLayoutGrid > .row > .col-1, #introLayoutGrid > .row > .col-2
{
   float: left;
}
#introLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#introLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#introLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#introLayoutGrid > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#introLayoutGrid:before,
#introLayoutGrid:after,
#introLayoutGrid .row:before,
#introLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#introLayoutGrid:after,
#introLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#introLayoutGrid > .row > .col-1, #introLayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_compatibilityLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#compatibilityLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#compatibilityLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#compatibilityLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#compatibilityLayoutGrid > .row > .col-1
{
   float: left;
}
#compatibilityLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#compatibilityLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#compatibilityLayoutGrid:before,
#compatibilityLayoutGrid:after,
#compatibilityLayoutGrid .row:before,
#compatibilityLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#compatibilityLayoutGrid:after,
#compatibilityLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#compatibilityLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_featuresLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#featuresLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#featuresLayoutGrid > .col-1, #featuresLayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#featuresLayoutGrid > .col-1, #featuresLayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#featuresLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#featuresLayoutGrid > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 75px 0 75px 0;
}
#featuresLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#featuresLayoutGrid > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 75px 0 75px 0;
}
@media (max-width: 768px)
{
#featuresLayoutGrid > .col-1, #featuresLayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_interactiveLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#interactiveLayoutGrid
{
   box-sizing: border-box;
   padding: 80px 15px 80px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#interactiveLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#interactiveLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#interactiveLayoutGrid > .row > .col-1
{
   float: left;
}
#interactiveLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#interactiveLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#interactiveLayoutGrid:before,
#interactiveLayoutGrid:after,
#interactiveLayoutGrid .row:before,
#interactiveLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#interactiveLayoutGrid:after,
#interactiveLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#interactiveLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_moreFeaturesLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#moreFeaturesLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 10px 100px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#moreFeaturesLayoutGrid > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#moreFeaturesLayoutGrid > .row > .col-1, #moreFeaturesLayoutGrid > .row > .col-2, #moreFeaturesLayoutGrid > .row > .col-3, #moreFeaturesLayoutGrid > .row > .col-4, #moreFeaturesLayoutGrid > .row > .col-5, #moreFeaturesLayoutGrid > .row > .col-6, #moreFeaturesLayoutGrid > .row > .col-7
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#moreFeaturesLayoutGrid > .row > .col-1, #moreFeaturesLayoutGrid > .row > .col-2, #moreFeaturesLayoutGrid > .row > .col-3, #moreFeaturesLayoutGrid > .row > .col-4, #moreFeaturesLayoutGrid > .row > .col-5, #moreFeaturesLayoutGrid > .row > .col-6, #moreFeaturesLayoutGrid > .row > .col-7
{
   float: left;
}
#moreFeaturesLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #E0E0E0;
   border-radius: 0px;
   width: 10px;
   text-align: center;
}
#moreFeaturesLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #E0E0E0;
   border-radius: 25px;
   width:  calc((100% - 60px) / 3);
   text-align: center;
}
#moreFeaturesLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #E0E0E0;
   border-radius: 0px;
   width: 20px;
   text-align: left;
}
#moreFeaturesLayoutGrid > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #E0E0E0;
   border-radius: 25px;
   width:  calc((100% - 60px) / 3);
   text-align: left;
}
#moreFeaturesLayoutGrid > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 20px;
   text-align: left;
}
#moreFeaturesLayoutGrid > .row > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #E0E0E0;
   border-radius: 25px;
   width:  calc((100% - 60px) / 3);
   text-align: left;
}
#moreFeaturesLayoutGrid > .row > .col-7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 10px;
   text-align: left;
}
#moreFeaturesLayoutGrid:before,
#moreFeaturesLayoutGrid:after,
#moreFeaturesLayoutGrid .row:before,
#moreFeaturesLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#moreFeaturesLayoutGrid:after,
#moreFeaturesLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#moreFeaturesLayoutGrid > .row > .col-1, #moreFeaturesLayoutGrid > .row > .col-2, #moreFeaturesLayoutGrid > .row > .col-3, #moreFeaturesLayoutGrid > .row > .col-4, #moreFeaturesLayoutGrid > .row > .col-5, #moreFeaturesLayoutGrid > .row > .col-6, #moreFeaturesLayoutGrid > .row > .col-7
{
   float: none;
   width: 100% !important;
}
}
#wb_clientsLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#clientsLayoutGrid
{
   box-sizing: border-box;
   padding: 0 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#clientsLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#clientsLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#clientsLayoutGrid > .row > .col-1
{
   float: left;
}
#clientsLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#clientsLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#clientsLayoutGrid:before,
#clientsLayoutGrid:after,
#clientsLayoutGrid .row:before,
#clientsLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#clientsLayoutGrid:after,
#clientsLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#clientsLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#upStickyLayer
{
   background-color: #AA80F9;
   background-image: none;
   border-radius: 50%;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #FFFFFF;
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.show 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.headerMenu .caret, .headerMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 19px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.headerMenu .dropdown-menu>li>a:hover,
.headerMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .dropdown-menu>li>a.active,
.headerMenu .dropdown-menu>li>a.active:hover,
.headerMenu .dropdown-menu>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.headerMenu .show>.dropdown-menu 
{
   display: block;
}
.headerMenu .show>a 
{
   outline: 0;
}
.headerMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .dropdown.show .dropdown-menu
{
   animation-name: headerMenu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes headerMenu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.headerMenu .nav>li 
{
   position: relative;
   display: block;
}
.headerMenu .nav>li>a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.headerMenu .nav .show>a,
.headerMenu .nav .show>a:hover,
.headerMenu .nav .show>a:focus 
{
    border-color: #343A40;
}
.headerMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
}
.headerMenu:before,
.headerMenu:after
{
   content: " ";
   display: table;
}
.headerMenu:after
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after
{
   clear: both;
}
.headerMenu-navbar-collapse.show 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 17px 10px 16px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.headerMenu .navbar-nav
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.headerMenu .navbar-nav>li>a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.headerMenu .navbar-nav>li>a.active,
.headerMenu .navbar-nav>li>a.active:hover,
.headerMenu .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.show>a,
.headerMenu .navbar-nav>.show>a:hover,
.headerMenu .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav>.show>a .caret,
.headerMenu .navbar-nav>.show>a:hover .caret,
.headerMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover
{
   color: #FFFFFF;
}
.headerMenu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header
{
   float: left;
}
.headerMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav>li 
{
   float: left;
}
.headerMenu .container>.navbar-header,
.headerMenu .container>.headerMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.headerMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .show .dropdown-menu>li>a,
.headerMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.headerMenu .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.headerMenu .navbar-nav>li>a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>li>a.active,
.headerMenu .navbar-nav>li>a.active:hover,
.headerMenu .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.show>a,
.headerMenu .navbar-nav>.show>a:hover,
.headerMenu .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a.active > .caret,
.headerMenu .navbar-nav > li > a.active:hover > .caret,
.headerMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.show>a .caret,
.headerMenu .navbar-nav>.show>a:hover .caret,
.headerMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
.headerMenu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.headerMenu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_moreFeaturesCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 180px;
   box-sizing: border-box;
   margin: 25px 0 25px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#moreFeaturesCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#moreFeaturesCard1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0 20px 0 20px;
}
#moreFeaturesCard1-card-item0 h3
{
   color: #AA80F9;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#moreFeaturesCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 20px 20px 20px;
   color: #6B6B6B;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   line-height: 22.8px;
}
#introLottie
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_introLottie
{
   display: block;
   position: relative;
   margin: -50px 0 -50px 0 ;
   vertical-align: top;
}
#wb_introLottie
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_headerLogo1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 4px 0 0 0;
   text-align: left;
}
#headerLogo1
{
   color: #444B8C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   -webkit-text-stroke: 1px #FFFFFF;
   text-stroke: 1px #FFFFFF;
}
#wb_headerLogo2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 4px 0 0 0;
   text-align: left;
}
#headerLogo2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   -webkit-text-stroke: 0px #FFFFFF;
   text-stroke: 0px #FFFFFF;
}
#wb_creativeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 30px 0 ;
   text-align: left;
}
#wb_creativeText div
{
   text-align: left;
}
#wb_creativeText
{
   display: block;
   margin: 0 0 30px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_introText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: center;
}
#wb_introText div
{
   text-align: center;
}
#wb_introText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_compatibilityText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 20px 0 ;
   text-align: center;
}
#wb_compatibilityText div
{
   text-align: center;
}
#wb_compatibilityText
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_interactiveText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_interactiveText div
{
   text-align: center;
}
#wb_interactiveText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_creativeHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#creativeHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_featuresCard
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   text-align: left;
}
#featuresCard-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#featuresCard-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 14px 10px 14px 10px;
   background-color: transparent;
   background-image: none;
   color: #444B8C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
}
#featuresCard-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item1 i
{
   color: #AA80F9;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#featuresCard-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px rgba(245,245,245,0.00) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#featuresCard-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item3 i
{
   color: #AA80F9;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#featuresCard-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px rgba(245,245,245,0.00) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#featuresCard-card-item5
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item5 i
{
   color: #AA80F9;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#featuresCard-card-item6
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px rgba(245,245,245,0.00) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#featuresCard-card-item7
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item7 i
{
   color: #AA80F9;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#featuresCard-card-item8
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px rgba(245,245,245,0.00) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#featuresCard-card-item9
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item9 a
{
   color: inherit;
   text-decoration: none;
}
#featuresCard-card-item9 i
{
   color: #AA80F9;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#featuresCard-card-item10
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px rgba(245,245,245,0.00) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#featuresCard-card-item11
{
   display: inline-block;
   height: 39px;
   box-sizing: border-box;
   margin: 25px 10px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 0px solid #AA80F9;
   border-radius: 0px;
   background-color: #AA80F9;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#featuresCard-card-item11 a
{
   color: inherit;
   text-decoration: none;
}
#wb_introHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#introHeading
{
   color: #444B8C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: center;
}
#Heading5
{
   color: #6B6B6B;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_clientsImage3
{
   margin: 0;
   vertical-align: top;
}
#clientsImage3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 100px;
   height: 55px;
   vertical-align: top;
}
#wb_clientsImage6
{
   margin: 0;
   vertical-align: top;
}
#clientsImage6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 99px;
   height: 51px;
   vertical-align: top;
}
#wb_clientsImage1
{
   margin: 0;
   vertical-align: top;
}
#clientsImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 114px;
   height: 54px;
   vertical-align: top;
}
#wb_clientsImage7
{
   margin: 0;
   vertical-align: top;
}
#clientsImage7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 87px;
   height: 54px;
   vertical-align: top;
}
#wb_clientsImage4
{
   margin: 0;
   vertical-align: top;
}
#clientsImage4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 98px;
   height: 49px;
   vertical-align: top;
}
#wb_clientsImage9
{
   margin: 0;
   vertical-align: top;
}
#clientsImage9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 114px;
   height: 53px;
   vertical-align: top;
}
#wb_clientsImage2
{
   margin: 0;
   vertical-align: top;
}
#clientsImage2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 113px;
   height: 53px;
   vertical-align: top;
}
#wb_clientsImage8
{
   margin: 0;
   vertical-align: top;
}
#clientsImage8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 107px;
   height: 52px;
   vertical-align: top;
}
#wb_clientsImage5
{
   margin: 0;
   vertical-align: top;
}
#clientsImage5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 172px;
   height: 53px;
   vertical-align: top;
}
#wb_linksLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444B8C;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#linksLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#linksLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#linksLayoutGrid > .row > .col-1, #linksLayoutGrid > .row > .col-2, #linksLayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#linksLayoutGrid > .row > .col-1, #linksLayoutGrid > .row > .col-2, #linksLayoutGrid > .row > .col-3
{
   float: left;
}
#linksLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#linksLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#linksLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#linksLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#linksLayoutGrid:before,
#linksLayoutGrid:after,
#linksLayoutGrid .row:before,
#linksLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#linksLayoutGrid:after,
#linksLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#linksLayoutGrid > .row > .col-1, #linksLayoutGrid > .row > .col-2, #linksLayoutGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_linksText1 div
{
   text-align: left;
}
#wb_linksText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 6px 0;
   margin: 0;
   text-align: left;
}
#wb_linksText2 div
{
   text-align: left;
}
#wb_linksText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 6px 0;
   margin: 0;
   text-align: left;
}
#wb_linksText3 div
{
   text-align: left;
}
#wb_linksText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 40px;
   padding: 0 0px 0px 0px;
   vertical-align: middle;
   line-height: 40px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #A3C9E7;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 40px;
   padding: 0 0px 0px 0px;
   vertical-align: middle;
   line-height: 40px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #A3C9E7;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444B8C;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footerLayoutGrid
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#footerLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footerLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footerLayoutGrid > .row > .col-1
{
   float: left;
}
#footerLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#footerLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#footerLayoutGrid:before,
#footerLayoutGrid:after,
#footerLayoutGrid .row:before,
#footerLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#footerLayoutGrid:after,
#footerLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footerLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText div
{
   text-align: center;
}
#wb_footerText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#creativeLottie
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_creativeLottie
{
   display: block;
   position: relative;
   margin: 0;
   vertical-align: top;
}
#wb_creativeLottie
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #444B8C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#compatibilityLottie
{
   max-width: 500px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_compatibilityLottie
{
   display: block;
   position: relative;
   margin: 0;
   vertical-align: top;
}
#wb_compatibilityLottie
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_interactiveHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#interactiveHeading
{
   color: #444B8C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#featuresLottie
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_featuresLottie
{
   display: block;
   position: relative;
   margin: 0;
   vertical-align: top;
}
#wb_featuresLottie
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#interactiveLottie
{
   max-width: 500px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_interactiveLottie
{
   display: block;
   position: relative;
   margin: 0;
   vertical-align: top;
}
#wb_interactiveLottie
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_moreFeaturesCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 180px;
   box-sizing: border-box;
   margin: 25px 0 25px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#moreFeaturesCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#moreFeaturesCard2-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0 20px 0 20px;
}
#moreFeaturesCard2-card-item0 h3
{
   color: #AA80F9;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#moreFeaturesCard2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 20px 20px 20px;
   color: #6B6B6B;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   line-height: 22.8px;
}
#wb_moreFeaturesCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 180px;
   box-sizing: border-box;
   margin: 25px 0 25px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#moreFeaturesCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#moreFeaturesCard3-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0 20px 0 20px;
}
#moreFeaturesCard3-card-item0 h3
{
   color: #AA80F9;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#moreFeaturesCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 20px 20px 20px;
   color: #6B6B6B;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   line-height: 22.8px;
}
#moreFeaturesLottie1
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_moreFeaturesLottie1
{
   display: block;
   position: relative;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#wb_moreFeaturesLottie1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#moreFeaturesLottie2
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_moreFeaturesLottie2
{
   display: block;
   position: relative;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#wb_moreFeaturesLottie2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#moreFeaturesLottie3
{
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   width: 100%;
   height: auto;
}
#wb_moreFeaturesLottie3
{
   display: block;
   position: relative;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#wb_moreFeaturesLottie3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_interactiveTip 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_interactiveTip div
{
   text-align: center;
}
#wb_interactiveTip
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#creativeButton
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #AA80F9;
   border-radius: 0px;
   background-color: #AA80F9;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#creativeButton:focus
{
   outline: 0;
}
